.header {
  display: flex;
  padding: 0.5em;
  gap: 0.5em;
  background-color: var(--panel-background);
  border-bottom: 1px solid var(--panel-separator);
}

.column {
  display: flex;
  flex: 1 1 0;
  gap: 0.5em;
  flex-direction: column;
  overflow: hidden;
}

.row {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.label {
  font-family: var(--code-font-family);
  font-weight: var(--code-font-weight);
  font-size: var(--code-font-size);
  font-variant-ligatures: var(--code-font-variant-ligatures);
  text-wrap: nowrap;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.emphasized {
  color: var(--color-bright);
}

.missing {
  color: var(--color-blue);
}

.spacer {
  flex: 1 1 0;
}

.input {
  display: flex;
  align-items: center;
}
