.tooltip {
  max-width: 80vw;
  background-color: var(--panel-background) !important;
}

.hover-item {
  font-family: var(--code-font-family);
  font-weight: var(--code-font-weight);
  font-size: var(--code-font-size);
  font-variant-ligatures: var(--code-font-variant-ligatures);
  word-break: break-word;
}

.hover-item-label {
  color: var(--color-bright);
}

.hover-item-value {
  color: var(--foreground);
}

.hover-item-separator {
  border-color: var(--color-muted);
}

.label-color-special {
  color: var(--color-blue);
}

.label-color-delete {
  color: var(--color-red);
}

.label-color-insert {
  color: var(--color-green);
}

.value-color-emphasized {
  color: var(--color-bright);
}
