.instruction-list {
}

.instruction-row {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  height: var(--list-row-height);
}

.instruction-cell {
  flex: 1 0 0;
  font-family: var(--vscode-editor-font-family, monospace);
  font-weight: var(--vscode-editor-font-weight, normal);
  font-size: var(--font-size);
  text-wrap: nowrap;
  white-space: pre;
  overflow: hidden;
}

.highlightable {
  cursor: pointer;
}

.diff_change {
  color: #6d6dff;
}
.rotation0 {
  color: magenta;
}
.rotation1 {
  color: cyan;
}
.rotation2 {
  color: rgb(0, 212, 0);
}
.rotation3 {
  color: red;
}
.rotation4 {
  color: rgb(103, 106, 255);
}
.rotation5 {
  color: lightpink;
}
.rotation6 {
  color: lightcyan;
}
.rotation7 {
  color: lightgreen;
}
.rotation8 {
  color: grey;
}
.symbol {
  color: white;
}
.line-number {
  color: var(--vscode-editorLineNumber-foreground);
}

:global(body.vscode-light) {
  .rotation0 {
    /* hsv(0° 60% 80%) */
    color: rgb(205, 82, 82);
  }
  .rotation1 {
    /* hsv(40° 60% 80%) */
    color: rgb(205, 164, 82);
  }
  .rotation2 {
    /* hsv(80° 60% 80%) */
    color: rgb(164, 205, 82);
  }
  .rotation3 {
    /* hsv(120° 60% 80%) */
    color: rgb(82, 205, 82);
  }
  .rotation4 {
    /* hsv(160° 60% 80%) */
    color: rgb(82, 205, 164);
  }
  .rotation5 {
    /* hsv(200° 60% 80%) */
    color: rgb(82, 164, 205);
  }
  .rotation6 {
    /* hsv(240° 60% 80%) */
    color: rgb(82, 82, 205);
  }
  .rotation7 {
    /* hsv(280° 60% 80%) */
    color: rgb(164, 82, 205);
  }
  .rotation8 {
    /* hsv(320° 60% 80%) */
    color: rgb(205, 82, 164);
  }
  .symbol {
    color: black;
  }
}
