.symbols {
  flex: 1 1 0;
  display: flex;
  flex-flow: row;
  overflow: auto;
}

.symbol-list {
  flex: 1 1 0;
  margin: 0;
  padding: 0;
}

.symbol-list-row {
  cursor: pointer;
  user-select: none;
  height: var(--list-row-height);

  font-family: var(--code-font-family);
  font-weight: var(--code-font-weight);
  font-size: var(--code-font-size);
  text-wrap: nowrap;
  white-space: pre;

  &:hover {
    background-color: var(--list-row-hover-background);
  }
}

.section {
  padding-left: 0.5em;

  &::before {
    content: "▼ ";
  }
  &.collapsed {
    opacity: 0.75;
    &::before {
      content: "▶ ";
    }
  }
}

.symbol {
  padding-left: 2em;
}

.flag-local {
  color: inherit;
}

.flag-global {
  color: var(--color-green);
}

.flag-weak {
  color: inherit;
}

.flag-common {
  color: var(--color-blue);
}

.symbol-name {
  color: light-dark(black, white);
}

.no-object {
  color: var(--color-blue);

  font-family: var(--code-font-family);
  font-weight: var(--code-font-weight);
  font-size: var(--code-font-size);
  text-wrap: nowrap;
  white-space: pre;
}
