.units {
  flex: 1 1 0;
  display: flex;
  flex-flow: row;
  overflow: hidden;
}

.row {
  display: flex;
  cursor: pointer;
  user-select: none;
  height: var(--list-row-height);
  padding-left: 0.5em;

  font-family: var(--code-font-family, monospace);
  font-weight: var(--code-font-weight, normal);
  font-size: var(--code-font-size);
  text-wrap: nowrap;
  white-space: pre;

  &:hover {
    background-color: var(--list-row-hover-background);
  }
}

.indent {
  display: inline-block;
  height: var(--list-row-height);
  width: 0;
  border-right: 1px solid var(--panel-separator);
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.toggle {
  display: inline-block;
  height: var(--list-row-height);
  width: 1em;
  margin-right: 0.25em;
}

.unit {
  .label {
    margin-left: 0.4em;
  }
}

.complete {
  color: var(--color-green);
}

.incomplete {
  color: var(--color-red);
}

.collapsed {
  opacity: 0.75;
}
