.units {
  flex: 1 1 0;
  display: flex;
  flex-flow: row;
  overflow: auto;
}

.units-row {
  cursor: pointer;
  user-select: none;
  height: var(--list-row-height);
  padding-left: 0.5em;

  font-family: var(--vscode-editor-font-family, monospace);
  font-weight: var(--vscode-editor-font-weight, normal);
  font-size: var(--font-size);
  text-wrap: nowrap;
  white-space: pre;

  &:hover {
    background-color: var(--vscode-list-hoverBackground);
  }
}

.complete {
  color: lightgreen;
}

.incomplete {
  color: lightcoral;
}
