.percent-100 {
  color: var(--color-green) !important;
  flex-shrink: 0;
}
.percent-50 {
  color: var(--color-blue) !important;
  flex-shrink: 0;
}
.percent-0 {
  color: var(--color-red) !important;
  flex-shrink: 0;
}
