.data-row {
  display: flex;
  flex-direction: row;
}

.data-cell {
  flex: 1 0 0;
  font-family: var(--code-font-family);
  font-weight: var(--code-font-weight);
  font-size: var(--code-font-size);
  font-variant-ligatures: var(--code-font-variant-ligatures);
  white-space: pre;
  cursor: default;
  padding: 0 4px;
  text-wrap: nowrap;
  overflow: hidden;
}

.combined-row {
  display: flex;
}

.diff-any {
  background-color: rgba(255, 255, 255, 0.03);
}

.address {
  color: var(--line-number-foreground);
  margin-right: 8px;
}

.replace {
  color: var(--color-blue);
}

.delete {
  color: var(--color-red);
}

.insert {
  color: var(--color-green);
}
