.data-row {
  display: flex;
  flex-direction: row;
}

.col-left,
.col-right {
  overflow: hidden;
}

.data-list {
  flex: 1 1 auto;
}

.data-list[data-selecting='left'] .col-right {
  user-select: none;
  pointer-events: none;
}

.data-list[data-selecting='right'] .col-left {
  user-select: none;
  pointer-events: none;
}

.data-cell {
  flex: 1 0 0;
  font-family: var(--code-font-family);
  font-weight: var(--code-font-weight);
  font-size: var(--code-font-size);
  font-variant-ligatures: var(--code-font-variant-ligatures);
  white-space: pre;
  cursor: default;
  padding: 0 4px;
  text-wrap: nowrap;
  overflow: hidden;
}

.divider {
  flex: 0 0 5px;
  background: transparent;
  cursor: col-resize;
  position: relative;
}

.divider::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--panel-separator);
}

.divider:hover::before {
  background-color: var(--focus-border-color);
}

.combined-row {
  display: flex;
}

.diff-any {
  background-color: rgba(255, 255, 255, 0.03);
}

.address {
  color: var(--line-number-foreground);
  margin-right: 8px;
}

.replace {
  color: var(--color-blue);
}

.delete {
  color: var(--color-red);
}

.insert {
  color: var(--color-green);
}
