.content {
  flex: 1 1 0;
  display: flex;
  flex-flow: row;
}

.column {
  flex: 1 1 0;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.no-object {
  color: var(--color-blue);

  font-family: var(--code-font-family);
  font-weight: var(--code-font-weight);
  font-size: var(--code-font-size);
  font-variant-ligatures: var(--code-font-variant-ligatures);
  text-wrap: nowrap;
  white-space: pre;
}
