.content {
  flex: 1 1 0;
  display: flex;
  flex-flow: row;
}

.column {
  flex: 1 1 0;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.sidebar-title {
  font-weight: 600;
}

.sidebar-inner {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  min-width: 0;
  min-height: 0;
}

.sidebar-search {
  flex: 0 0 auto;
  padding: 4px 6px;
  border-bottom: 1px solid var(--panel-separator);
}

.sidebar-list {
  flex: 1 1 0;
  min-height: 0;
  overflow: hidden;
}

.no-object {
  color: var(--color-blue);

  font-family: var(--code-font-family);
  font-weight: var(--code-font-weight);
  font-size: var(--code-font-size);
  font-variant-ligatures: var(--code-font-variant-ligatures);
  text-wrap: nowrap;
  white-space: pre;
}
