.container {
  flex: 1 1 0;
  padding: 0 1em;
  overflow: auto;
}

.header {
  margin: 0.5em 0;
}

.category-header {
  margin: 0.5em;
}

.property {
  margin: 0.5em 1em;
  display: flex;
  flex-flow: row;
  align-items: center;
}
