.symbols {
  flex: 1 1 0;
  display: flex;
  flex-flow: row;
  overflow: auto;
}

.symbol-list {
  flex: 1 1 0;
  margin: 0;
  padding: 0;
}

.flag-local {
  color: inherit;
}

.flag-global {
  color: var(--color-green);
}

.flag-weak {
  color: inherit;
}

.flag-common {
  color: var(--color-blue);
}

.flag-hidden {
  color: var(--color-muted);
}

.symbol-name {
  color: var(--color-bright);
}

.no-object {
  color: var(--color-blue);

  font-family: var(--code-font-family);
  font-weight: var(--code-font-weight);
  font-size: var(--code-font-size);
  font-variant-ligatures: var(--code-font-variant-ligatures);
  text-wrap: nowrap;
  white-space: pre;
}

.selected {
  background-color: var(--list-row-selection-background) !important;
}

.highlighted {
  background-color: var(--list-row-highlight-background) !important;
}

.selected.highlighted {
  background-color: color-mix(
    in srgb,
    var(--list-row-selection-background) 50%,
    var(--list-row-highlight-background) 50%
  ) !important;
}
