.units {
  flex: 1 1 0;
  display: flex;
  flex-flow: row;
  overflow: hidden;
}

.unit-label {
  margin-left: 0.4em;
}

.complete {
  color: var(--color-green);
}

.incomplete {
  color: var(--color-red);
}
